table {
    border: 3.0em #764080;
    margin: 1.0em;
}

table tr {
    margin: 1.0em;
}

table td {
    text-align: center;
    margin: 1.0em;
}

table caption {
    text-align: left;
    margin: 1.0em;
    font-size: 1.1em;
    font-weight: bold;
}