section img {
    position: relative;
    margin:0.8em;
    float:right;
    width: 285px;
    height: 230px;
}
section p {
    margin: 0.5em 2em 2em 2em;
    position: relative;
}
article video{
    margin:2em;
    position: relative;
    float: right;
}