header {
    background: url("../multimedia/fondocabecera.jpg");
    position: relative;
    width: 100%;
}
header h1{
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-size: 8em;
    color: white;
}
h2 {
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
html {
    min-height: 100%;
}