header{
    font-size: 3.5em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 7.5em;
    color: #764080;
}
footer{
    margin-top: 3.5em;
}
nav {
    padding: 1px;
    margin-bottom: 25px;
    font-size: 0.8em;
}
nav ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none;
}
nav ul li {
    margin-left: 0;
    padding-left: 2px;
    border: none;
    list-style: none;
    display: inline;
}
table{
    margin-bottom: 1.9em;
    border:  1px #764080;
}
table td{
    text-align: center;
}
table caption{
    text-align: left;
    margin-bottom: 1.0em;
    margin-top: 0.9em;
    font-size: 1.1em;
    font-weight: bold;
}
h1{
    font-size: 1.0em;
}